{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="">
  <div class="top">
    <a class="button" href="{{path('app_login')}}">Login</a>
    <a class="button" href="{{path('app_register')}}">Register</a> 
  </div>
</div>
{% endblock %}
