{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="card example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>
 <a href="{{path('app_login')}}">Login</a>
  <a href="{{path('app_register')}}">Register</a>

   
   
</div>
{% endblock %}
