.container{
    // width: 90%;
    margin: 0 auto;
    padding: 0.5em;
}

.listText{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // position: relative;
}
.listText > div{
    width: 25%;
    cursor: pointer;
    padding: 1em;
}
.text{
    border-radius: 15px 15px 15px 15px;
    // border: 1px solid black;
    border: 10px solid #00A4BD;
    margin-bottom: 1em;
    background-clip: border-box;
    // width: 25%;
}
.text span{
    padding: 1em;
    display: block;
}
.recherche{
    width: 25%;
    margin: 0 auto;
    padding: 1em;
}
.text p span{
    width: 100%;
    display: inline-block;
    float: right;
    text-align: center;
    background-color: lightgrey;
}
.falshContent{ 
    position:"fixed";
    top:25vh;
    left:50vw;
}
.flash{
    box-sizing: border-box;
	animation-name: flash, fade-out;
	animation-duration: 0.6s, 10s;
	animation-fill-mode: both, both;
    animation-timing-function:ease,ease-in;
    text-align: center; 
    line-height: 20px;
    padding: 10px; 
    font-size: 16px;
    border: 1px solid black; 
    margin: 10px;
    background:   lightgreen;
    color: white;
}
@keyframes flash {
	14% { font-size: 24px; color: red; background: #ff0; }
	28% { font-size: 12px; color: initial; background: initial; }
	42% { font-size: 18px; }
	57% { font-size: 15px; }
	71% { font-size: 16.5px; }
	85% { font-size: 15.75px; }
}

@keyframes fade-out { 100% { opacity: 0; } }
.radio, .category{
    margin: 1em;
}

input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    padding: 0.3rem 0.5rem;
    border: 1px dashed #ccc;
  }
  input[type="radio"]:checked + label {
    border: 1px solid #000;
    background-color: green;
  }
  .title{
    width: 50%;
  }
  .title, .radio{
    display: block;
    margin: 0 auto;
    text-align: center;
  }